<a href="https://colab.research.google.com/github/hhaemin/my-repository/blob/main/Class_05_Pandas_1_Series%2C_generate%2C_index%2C_select.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas
    - 데이터 분석을 위한 python 라이브러리
    - R보다 Pandas의 학습, 성능, 활용분야 등이 좋음

    - Series와 DataFrame
        - Series : index와 value로 이루어짐
        - DataFrame : index, column, value로 이루어짐

### Series

In [1]:
import numpy as np
import pandas as pd

##### Series 선언

In [2]:
test = pd.Series(np.random.randint(10, size=5))
test

0    7
1    3
2    9
3    3
4    8
dtype: int64

In [3]:
test2 = pd.Series({'Reinforcement learning': 'game AI',
 'Supervised learning': 'classification',
 'Unsupervised learning': 'clustering'})
test2

Reinforcement learning           game AI
Supervised learning       classification
Unsupervised learning         clustering
dtype: object

##### index(행) 이름 설정

In [4]:
test = pd.Series(np.random.randint(10, size=5), index=list('ABCDE'))
test

A    1
B    1
C    9
D    7
E    1
dtype: int64

In [5]:
test.index, test.values

(Index(['A', 'B', 'C', 'D', 'E'], dtype='object'), array([1, 1, 9, 7, 1]))

In [6]:
scalar_test = pd.Series(10, index=list('abcde'))
scalar_test

a    10
b    10
c    10
d    10
e    10
dtype: int64

##### Series 데이터 선택

In [7]:
test['A']

1

In [8]:
test.A

1

##### Series Indexing

In [9]:
test[2:]

C    9
D    7
E    1
dtype: int64

In [10]:
test[::-1]

E    1
D    7
C    9
B    1
A    1
dtype: int64

### DataFrame
    - 여러개의 Series로 구성

##### 생성

###### dict안에 list로 value 생성

In [11]:
data = {
    "name":['Minhyeok', 'Seojun','Juyoung'],
    "class":['python', 'RNN','practice']    
       }
data

{'name': ['Minhyeok', 'Seojun', 'Juyoung'],
 'class': ['python', 'RNN', 'practice']}

In [12]:
df = pd.DataFrame(data)
df # key값이 column

       name     class
0  Minhyeok    python
1    Seojun       RNN
2   Juyoung  practice

##### index 추가

In [13]:
df = pd.DataFrame(data, index=["a","b",'c'])
df

       name     class
a  Minhyeok    python
b    Seojun       RNN
c   Juyoung  practice

In [14]:
df.index

Index(['a', 'b', 'c'], dtype='object')

In [15]:
df.values

array([['Minhyeok', 'python'],
       ['Seojun', 'RNN'],
       ['Juyoung', 'practice']], dtype=object)

##### index 변경

In [16]:
df.index = ['1번','2번','3번']
df

        name     class
1번  Minhyeok    python
2번    Seojun       RNN
3번   Juyoung  practice

#### DataFrame data선택
    - row, column 선택 방법

##### row 선택

In [17]:
df = pd.DataFrame(data)
df

       name     class
0  Minhyeok    python
1    Seojun       RNN
2   Juyoung  practice

In [18]:
df.loc[0]

name     Minhyeok
class      python
Name: 0, dtype: object

###### row 선택 후 특정 컬럼 선택

In [19]:
df.loc[0]["class"]

'python'

###### loc로 dataframe에 데이터 추가

In [20]:
df.loc[3] = {"name":"Adrian", "class":"math"}
df

       name     class
0  Minhyeok    python
1    Seojun       RNN
2   Juyoung  practice
3    Adrian      math

##### column 선택

In [21]:
df['name']

0    Minhyeok
1      Seojun
2     Juyoung
3      Adrian
Name: name, dtype: object

###### DataFrame에서 column 리스트 확인

In [22]:
list(df.columns) # list 형변환은 보기 편하게 만들기 위해서

['name', 'class']

###### column 추가

In [23]:
df['age'] = [30, 15, 25, 40]
df

       name     class  age
0  Minhyeok    python   30
1    Seojun       RNN   15
2   Juyoung  practice   25
3    Adrian      math   40

In [24]:
df.dtypes

name     object
class    object
age       int64
dtype: object

##### row, column 선택

In [25]:
df.loc[2,'class']

'practice'

In [26]:
df.iloc[1,1]

'RNN'

##### dataframe 조건으로 선택

In [27]:
df[df['age']>25]

       name   class  age
0  Minhyeok  python   30
3    Adrian    math   40