<a href="https://colab.research.google.com/github/hhaemin/my-repository/blob/main/Class_07_dataset_preprocessing_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'ooyyy'.count('y')

3

In [ ]:
a = ['BTS','IU','Blackpink','Twice']

for i in a:
  if i.startswith('B'):
    print(f'B로 시작하는 아이돌 {i}')

B로 시작하는 아이돌 BTS
B로 시작하는 아이돌 Blackpink

In [ ]:
res = "_".join(a)
res

'BTS_IU_Blackpink_Twice'

In [ ]:
res.find('I'), res.rfind('B')
# 철자의 위치확인

(4, 7)

In [ ]:
res.split('_')

['BTS', 'IU', 'Blackpink', 'Twice']

In [ ]:
import seaborn as sns
import pandas as pd
titanic = sns.load_dataset('titanic')
titanic['age_class'] = pd.cut(titanic['age'], 3, labels=['child', 'young', 'old'])
titanic[['age', 'age_class']].head(10)

    age age_class
0  22.0     child
1  38.0     young
2  26.0     child
3  35.0     young
4  35.0     young
5   NaN       NaN
6  54.0       old
7   2.0     child
8  27.0     young
9  14.0     child

In [ ]:
df = pd.DataFrame({'c1':['a', 'a', 'b', 'a', 'b'],
                  'c2':[1, 1, 1, 2, 2],
                  'c3':[1, 1, 2, 2, 2]})
print(df)
print('\n')

# 데이터프레임에서 중복 행을 제거
df2 = df.drop_duplicates()
print(df2)
print('\n')

# c2, c3열을 기준으로 중복 행을 제거
df3 = df.drop_duplicates(subset=['c2', 'c3'])
print(df3)

  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2


  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2


  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2

In [ ]:
# 데이터 경로확인
import os
os.getcwd()

'/content'

In [ ]:
os.listdir()

['.config', 'sample_data']

In [ ]:
os.path.exists('./sample_data/mnist_test.csv')

True

In [ ]:
os.path.basename('./drive/MyDrive'), os.path.dirname('./drive/MyDrive')

('MyDrive', './drive')

In [ ]:
os.path.join(os.path.dirname('./drive/MyDrive'), os.path.basename('./drive/MyDrive') )

'./drive/MyDrive'

In [ ]:
os.mkdir('./temp')

In [ ]:
os.rename('./sample_data/anscombe.json', './sample_data/temp.json')

In [ ]:
for curDir, dirs, files in os.walk(os.getcwd(), topdown=True):
  print(curDir, dirs, files)

/content ['.config', 'temp', 'sample_data'] []
/content/.config ['configurations', 'logs'] ['gce', 'active_config', 'config_sentinel', '.last_opt_in_prompt.yaml', '.last_survey_prompt.yaml', '.last_update_check.json']
/content/.config/configurations [] ['config_default']
/content/.config/logs ['2022.10.05'] []
/content/.config/logs/2022.10.05 [] ['13.34.09.819109.log', '13.34.36.122414.log', '13.35.31.695201.log', '13.35.07.796466.log', '13.34.58.544678.log', '13.35.30.920507.log']
/content/temp [] []
/content/sample_data [] ['README.md', 'temp.json', 'california_housing_train.csv', 'california_housing_test.csv', 'mnist_train_small.csv', 'mnist_test.csv']